/*************************************

General Setup 

*************************************/

body {
  	margin: 30px 300px;
	/*padding: 35px 375px;*/
}

header {
	margin-bottom: 25px;
  	/*padding: 20px;*/
}


.navline {
	border-right: 1px solid #D69764;
}

a {
	text-decoration: none;
}

nav {
	margin: 0 auto 55px;
  	padding: 5px;
	width: 500px;
}

nav ul {
	margin: 0;
	text-align: left;	
	text-indent: 0;
}

nav li {
	font-size: 20px;
	display: inline-block;
	margin: 0 -2px;
	padding: 0 14px 0 16px;
}

.LeftColumn {
	margin-top: -25px;
	width: 45%;
	float: left;
}

.RightColumn {
	margin-top: -25px;
	float: right;
	width: 45%;
}



/*************************************

About Page 

*************************************/

#about {
	margin: 0 auto;
	font-size: 18px;
}

#about img {
	width: 45%;
	height: 45%;
	margin: 0 27%;
	border-radius: 100%;
}

#about p {
	line-height: 28px;
	color: #636363;
}

#about .title{
	font-size: 32px;
	color: #393D40;
}

#overview {
	margin-bottom: 30px;
	
}

#overview p{
	text-align: center;
}

#skills {
	background: #F1EDEA;
	margin: 0 -300px;
	padding: 5px 300px;
	overflow: hidden;
	
}

#skills ul {
	height: 175px;
	line-height: 36px;
	padding-left: 20px;
	color: #636363;
}

#skills div {
	
}

#skills p{
	text-align: left;
}



/*************************************

Blog Page

*************************************/

#blog {
	/*border: 1px solid red;*/
}

.firstPost {
	margin: 0 auto 0px;
	font-size: 18px;
}

.firstPost h3 {
	text-align: left;
}

.firstPost p {
	text-indent: 50px;
	line-height: 28px;
}

.post {
	width: 750px;
	margin: 0 auto 50px;
	font-size: 18px;
	border-bottom: 1px solid #EE7500;
}

.post h3 {
	text-align: left;
}

.post p {
	text-indent: 50px;
	line-height: 28px;
}

#blog .date {
	text-align: left;
	text-indent: 0px;
	margin-top: -15px;
}



/*************************************

Project Page

*************************************/

#projects p{
	text-indent: 50px;
	font-size: 18px;
}



/*************************************

Resumé Page

*************************************/

#resume {
	margin:0 auto;
}

#resume p {
	color: #636363;
}

#resume .LeftColumn {
	width: 20%;
	font-size: 20px;
}

#resume .RightColumn {
	width: 60%;
	font-size: 20px;
	padding:0 30px;
}

#Skills {
	border-bottom: 1px solid #636363;
	padding: 40px 0;
	overflow: hidden;
}

#Skills .LeftColumn {
	padding: 0;
}

#Skills .RightColumn{
	overflow: hidden;
}

#Skills .RightColumn .LeftColumn{
	padding-top: 20px;
	width: 45%;
}

#Skills .RightColumn .LeftColumn ul {
	line-height: 28px;
	font-size: 18px;
	color: #636363;
}

#Skills .RightColumn .RightColumn {
	padding-top: 20px;
	width: 40%;
}

#Skills .RightColumn .RightColumn ul {
	line-height: 28px;
	font-size: 18px;
	color: #636363;
}

#experience {
	padding: 40px 0;
	border-bottom: 1px solid #636363;
	overflow: hidden;
}

#education {
	padding: 40px 0;
	overflow: hidden;
}

#education {
	
}


/*************************************

Contact

*************************************/

#contact_info {
	text-decoration: none;
}

#contact_info .LeftColumn {
	font-size: 20px;
	display: block;
}

#contact_info .RightColumn {
	font-size: 20px;
}

#contact_info img {
	width: 40px;
	height: 40px;
	margin: 0 1px;
}

#contact_info p {
	font-size: 18px;
}



/*************************************

Colors 

*************************************/
/*
persimmon: #EE7500
nut brown: #D69764
almond: #F1EDEA
grey: #636363
slate: #393D40
*/

header {
	background-color: #FFF;
}

header div {
	background: #D69764;
}

body {
	background: #FFFFFF;
}

.post {
	background: #FFF;
}

.post h3 {
	color: #393D40;
}

.post p {
	color: #636363;
}

p {
	color: #393D40;
}

/*************************************

Links

*************************************/

a:link {
	color: #636363;
}

a:visited {
	color: #393D40;
}

a:hover {
	color: #EE7500;
}



