/*************************************

General Setup

*************************************/

html, body {
	padding: 0;
	margin: 0;
}

header {
	padding: 0;
}


nav {
	margin: 0;
	padding: 20px 0;
	text-align: right;
	background-color: #1A1A1A;

}

nav a {
	display: inline-block;
	font-size: 24px;
	padding: 0 20px;
	color: white;
	text-decoration: none;
}

.LeftColumn {
	margin-top: -25px;
	width: 45%;
	float: left;
}

.RightColumn {
	margin-top: -25px;
	float: right;
	width: 45%;
}

footer {
	background: #202020;
	padding: 75px 500px;
	text-align: center;
	overflow: hidden;
}

footer p {
	color: #e0e0e0;
	margin-top: 0;
	padding: 0;
}

footer a {
	display: block;
}




/*************************************

About Page

*************************************/

#about {
	margin: 0 auto;
	padding: 94px 0;
	font-size: 18px;
	background-color: #E8E8E8;
}

#about img {
	width: 25%;
	height: 25%;
	margin: 0 auto;
	text-align: center;
	border-radius: 100%;
	display: block;
}

#about p {
	line-height: 28px;
	color: #636363;
}

#about .title{
	font-size: 32px;
	color: #393D40;
}

#overview {
	margin-bottom: 30px;

}

#overview p{
	text-align: center;
	width: 60%;
	margin: 0 auto;
}



/*************************************

Project Page

*************************************/
#projects {
	text-align: center;
	margin: 75px 0;
}

#projects div {
	clear: both;
}

#projects h3 {
	margin: 0;
}

#projects p {
	font-size: 18px;
	text-align: center;
}

#projects img {
	height: 150px;
	/*width: 150px;*/
	margin: 0;
	padding-left: 30px;
	text-align: center;
}

#projects .title {
	width: 55%;
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #636363;
	text-align: center;
	border-bottom: 1px solid #636363;
}

/* Gallery messes up if both are combined? */
#projects ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#projects ul {
    display:inline;
    position:relative;
    margin:0;
    padding:0;
}

#projects #hackathon {
	padding-top: 20px;
}



/* -------------------- */

#projects ul li {
	float: left;
	width: 25%;
}



/*************************************

Resumé Page

*************************************/

#download {
	text-align: center;
	border: 1px solid black;
	width: 30%;
	margin: 0 auto 30px;
	padding: 0;

}



#skills {
	margin: 0 auto;
	padding: 75px 0;
	overflow: hidden;
	text-align: center;
	background-color: #303030;
}

#skills .title {
	width: 55%;
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #E8E8E8;
	text-align: center;
	border-bottom: 1px solid #E8E8E8;
}

#skills h3 {
	margin: 0;
	color: #E8E8E8;
	text-align: center;
}

#skillsBox {
	width: 60%;
	margin: 0 auto;
	margin-top: 25px;

}

#skills .LeftColumn {
	padding: 0;
	text-align: center;
}

#skills .RightColumn{
	margin-top: -25px;
	text-align: center;
}

#skills ul {
	list-style-type: none;
	margin: 10px auto;
	padding: 0;
	color: #E8E8E8;
	line-height: 24px;
}










#education {
	margin: 0 auto;
	padding: 75px 0;
	text-align: left;
	background-color: #E8E8E8;
}

#education .title {
	width: 55%;
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	border-bottom: 1px solid #636363;
}

#education h3 {
	margin: 0;
	margin-top: 10px;
	line-height: normal;
	text-align: left;
}

#educationBox {
	width: 60%;
	margin: 0 auto;
}

#educationBox p {
	margin-top: 50px;
	font-size: 18px;
}

#coursework {
	margin-top: 0px;
	padding-left: 50px;
}

#coursework ul {
	line-height: 25px;
	margin: 0 auto;
	padding: 0;
	font-size: 18px;
}

#coursework li {

}











#experience {
	margin: 0;
	padding-bottom: 75px;
	background-color: #E8E8E8;
}

#experience .title {
	width: 55%;
	margin: 0 auto;
	padding-bottom: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	text-align: center;
	border-bottom: 1px solid #636363;
}

#experienceBox {
	width: 60%;
	margin: 0 auto;
}

#experienceBox h3 {
	margin: 10px 0;
	padding: 0;
	line-height: normal;
}

#experienceBox p{
	margin: 0;
	margin-top: 15px;
	font-size: 18px;
	clear: both;
}

#experienceBox .job {
	margin: 0;
	padding: 15px 0;
}

#experience .job p {
	margin: 10px 0;
}
#experience .RightColumn {
	text-align: right;
	overflow: hidden;
}

.job .LeftColumn,.RightColumn {
	margin: 0;
	padding: 0;
}





#awards {
	padding: 30px 0;
	overflow: hidden;
}

#awards .RightColumn p {
	line-height: 8px;
}


/*************************************

Contact

*************************************/

#contact_info {
	text-decoration: none;
}

#contact_info .LeftColumn a {
	font-size: 20px;
	display: block;
}

#contact_info .RightColumn {
	font-size: 20px;
}

#contact_info img {
	width: 40px;
	height: 40px;
	margin: 10px 1px;
}

#contact_info p {
	font-size: 18px;
}

#contact_info div a{
 display: inline-block;
}




/*************************************

Colors

*************************************/
/*
persimmon: #EE7500
nut brown: #D69764
almond: #F1EDEA
grey: #636363
slate: #393D40
*/

header {
	background-color: #FFF;
}

header div {
	background: #D69764;
}

body {
	background: #FFFFFF;
}

.post {
	background: #FFF;
}

.post h3 {
	color: #393D40;
}

.post p {
	color: #636363;
}

p {
	color: #393D40;
}

/*************************************

Links

*************************************/

a:link {
	color: #636363;
}

a:visited {
	color: white;
}

/*a:hover {
	color: #EE7500;
}*/
