
/*************************************

General Setup 

*************************************/

body {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font: inherit;
  	vertical-align: baseline;

}

header {
	margin: 15px 0 50px 0;
  	padding: 20px;
  	border: 0;
  	font: inherit;
  	vertical-align: baseline;
}

.navline {
	padding-right: 15px;
	border-right: 1px solid #D69764;
}

a {
	text-decoration: none;
}

nav {
	margin: 0;
  	padding: 0;
  	border: 0;
  	font: inherit;
  	vertical-align: baseline;
}

nav ul {
	margin: 0;
	text-align: center;
}

nav li {
	font-size: 17px;
	display: inline;
	padding-left: 15px;
}



/*************************************

About Page 

*************************************/

#about {
	width: 750px;
	margin: 0 auto;
 	/*border: 1px solid red;*/
	font-size: 20px;
	
}

#about p {
	text-align: center;
	line-height: 28px;
}

#skills {
	text-indent: 50px;
}



/*************************************

Blog Page

*************************************/

#blog {
	/*border: 1px solid red;*/
}

.firstPost {
	width: 750px;
	margin: 0 auto 50px;
	font-size: 18px;
}

.firstPost h3 {
	text-align: left;
}

.firstPost p {
	text-indent: 50px;
	line-height: 28px;
}

.post {
	/*border: 1px solid red;*/
	width: 750px;
	margin: 0 auto 50px;
	/*box-shadow: 10px 10px 5px #888888;*/
	font-size: 18px;
	border-bottom: 1px solid #EE7500;
}

.post h3 {
	text-align: left;
}

.post p {
	text-indent: 50px;
	line-height: 28px;
}

#blog .date {
	align: left;
	text-indent: 0px;
	margin-top: -15px;
}





/*************************************

Project Page

*************************************/

#projects p{
	text-indent: 50px;
}




/*************************************

Resumé Page

*************************************/

#resume {
	width: 750px;
	margin:0 auto;
}


/*************************************

Contact

*************************************/

#contact_info {
	text-indent: 50px;
	text-decoration: none;
}

#contact_info li {
	list-style-type: none;
	width: 100px;
	height: 100px;
}

#contact_info img {
	width: 50px;
	height: 50px;
}




/*************************************

Colors 

*************************************/
/*
persimmon: #EE7500
nut brown: #F1EDEA
almond: #F1EDEA
grey: #636363
slate: #393D40
*/

header {
	background-color: #FFF;
}

header div {
	background: #D69764;
}

body {
	background: #FFFFFF;
}

.post {
	background: #FFF;
}

.post h3 {
	color: #393D40;
}

.post p {
	color: #636363;
}

p {
	color: #393D40;
}

/*************************************

Links

*************************************/

a:link {
	color: white;
}

a:visited {
	color: #393D40;
}

a:hover {
	color: #EE7500;
}





